$mainColor: #353D44;
$whiteColor: #ffffff;
$greenColor: #84B502;
$blackColor: #242B31;
$lightGreenColor: #BAFF00;
$greyColor: #F7F7F7;
$darkGreyColor: #4D565E;
$greyColorBtn: #E7E9EC;
$bgColor: #F9FAF0;
$badgeRed: #E1535B;
$badgeYellow: #FFE455;
$priceSpecial: #FFEE95;
$lineColor: #FF0046;
$btnBorderColor: #D9D9D9;
$oldPriceColor: #DFDFDF;
$textColor: #424C54;
$filterLabelColor: #1F2225;

$theme-font: 'Gilroy', Arial, Verdana, sans-serif;
$font400: 400;
$font500: 500;
$font600: 600;
$commonSize: 16px;

$transition: 0.2s linear;