@media (max-width: 1023px) {
    /* header start */
    header {
        margin-bottom: 1.5em;
    }
    
    .burger {
        display: flex;
    }
    .top_menu, .header_bottom {
        display: none;
    }

    .header_bottom {
        .cont {
            flex-wrap: wrap;

            .main_menu li {
                margin-right: 0;
                margin-left: 1.5em;
            }
        }
    }

    /* home start */
    .home_house {
        .house_inner {
            display: none;
        }
        .house_inner_mobile {
            display: block;
        }
    }

    .home_auctions .auction_item {
        background-position: 0 center;
    }

    .splide__arrow--prev {
        left: 0;
    }
    .splide__arrow--next {
        right: 0;
    }
    .brands_slider .brand_item {
        width: auto;
    }

    /* footer start */
    footer {
        .footer_left {
            margin-right: 2em;
        }
    }      
    .footer_menu_wrap .footer_sections_menu {
        margin-left: 0;
    }  
    .subscribe_block .line input {
        width: 238px;
    }

    .contacts_block .contacts_list {
        align-items: flex-start;
        
        .contact_item {
            padding: 0 1em;
        }
    }

    /* sections start */
    .sections_page .return_link {
        margin-bottom: 2em;
    }

    /* section */
    .catalog_wrap {
        .filter {
            display: none;

            &.active {
                position: absolute;
                left: 0;
                top: 480px;
                z-index: 999;
                display: block;
                padding: 2em;
                background-color: $darkGreyColor;
                color: $whiteColor;
            }

            .block_props li, .filter_block .show_more {
                color: $whiteColor;
            }
            .filter_block .show_more::after {
                border-color: $whiteColor;
            }
        }
    }
    .catalog_top_line {
        margin-bottom: 1em;
    }
    .open_filter_js {
        display: flex;
    }
    .catalog_inner {
        width: 100%;
        margin-left: 0;

        .products_list {
            justify-content: space-between;

            .product_card {
                padding: 0;
            }
        }
    }

    /* product start */
    .product_menu_wrap {
        flex-direction: column;

        .breadcrumbs {
            margin-bottom: 2em;
        }
    }
    .product_info .product_pic {
        .country {
            top: 46px;
        }
        .brand {
            top: 92px;
        }
        .badge {
            left: 0;
            right: auto;
        }
    }
    .product_descr .advants {
        height: auto;

        .prod_show_btn,
        .pic::after, .text::after {
            display: none;
        }
        .pic {
            max-width: 450px;
        }

        img {
            width: 100%;
        }
    }
    .product_reviews .reviews_slider .review_item .date {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 1em;
    }
    /* auth, register, restore passwd */
    .auth_page {
        margin: 3em 0;
    }
    /* brands start */
    .brands_list {
        grid-template-columns: repeat(4, 1fr);
    }
    /* wishlist start */
    .cart_inner .cart_item {
        padding: 2em 0;

        figure {
            height: 100px;
            margin: 1em;
            margin-right: 2em;
        }
    }
    /* cart start */
    .cart_inner .cart_footer {
        flex-wrap: wrap;

        .note {
            max-width: 100%;
            margin-bottom: 2em;
        }
        .right {
            margin: 0 auto;
        }
    }
    /* compare start */
    .compare_wrap {
        overflow: hidden;

        .compare_products,
        .compare_table {
            overflow-x: auto;
        } 
        .compare_table {
            white-space: nowrap;

            .compare_table_inner {
                width: 800px;
            }
        }

        .product_card {
            width: 370px;
        }
        .product_card .buttons_block {
            position: relative;
            bottom: 0;
            margin-top: 1em;
        }
    }

    /* order start */
    .order_inner {
        form .line input[type=email] {
            width: 100%;
            max-width: none;
        }
    }
}