@media (max-width: 479px) {
    /* header start */
    .header_top {
        height: 80px;

        .cont {
            padding: 0 10px;
        }

        .header_contacts {
            flex-direction: column;
            align-items: end;
            justify-content: center;
    
            .phone {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    .top_menu_mobile {
        top: 80px;

        ul {
            column-count: 2;
        }

        .logo {
            width: 100%;
            margin-bottom: 2em;
            text-align: center;

            img {
                width: 100px;
            }
        }
        .line {
            justify-content: center;
        }
        .product_header_actions {
            margin-left: 0;
        }
    }

    /* home start */
    .splide__arrow {
        width: 35px;
        height: 35px;
        background-size: 12px;
    }
    .product_card {
        max-width: 280px;

        .buttons_block {
            .goto_btn {
                width: 106px;
                margin-right: 10px;
            }
            .compare_btn {
                margin-right: 9px;
                font-size: 11px;
            }
            .wishlist_btn {
                font-size: 11px;
            }
        }
    }
    .product_slider .splide__arrow {
        right: 30px;
        top: 60%;
        background-size: 12px;
    }

    .home_auctions {
        .auction_item {
            justify-content: center;
            background-size: cover;

            .anons {
                margin-right: 0;
                padding: 30px 20px;
            }
        }
    }

    .tabs_wrapper .tabs_button_wrapper .tab_button {
        margin-bottom: 1em;
    }
    .blog_list .blog_item {
        figure {
            height: 180px;
        }
        .blog_item_title {
            padding: 0 12px;
            font-size: 1.5em;
        }
        p, .blog_item_bottom {
            padding: 0 12px;
        }
        .blog_item_bottom {
            position: relative;
            bottom: auto;
            flex-direction: column-reverse;
            align-items: flex-start;

            .link {
                margin-top: 1em;
            }
        }
    }

    /* footer start */
    .footer_menu_wrap {
        flex-wrap: wrap;

        .footer_menu,
        .footer_sections_menu {
            width: 100%;
        }

        .footer_sections_menu {
            margin-top: 2em;
        }
    }

    .subscribe_block .line button {
        width: 110px;
    }

    /* section start */
    .breadcrumbs ul {
        flex-wrap: wrap;
    }

    .catalog_inner .auction_item {
        background-position: 0 center;
        justify-content: center;

        .anons {
            width: 80%;
            margin-right: 0;
            font-size: 18px;
        }
        .anons_btn {
            width: 140px;
            height: 41px;
        }
    }

    .catalog_top_line .catalog_show {
        flex-direction: column;

        .found {
            margin-bottom: 1em;
        }
    }

    .catalog_inner .products_list {
        .product_card {
            max-width: 100%;

            .price_block {
                width: 100%;
            }
            .product_title {
                text-align: center;
            }
            .buttons_block {
                position: relative;
                bottom: auto;
                width: 100%;
                margin-top: 2em;
                justify-content: center;

                .goto_btn {
                    margin-right: 1.5em;
                }
                .compare_btn {
                    margin-right: 1em;
                }
            }
        }
    }

    /* product */
    .product_short_info .prop_block .prop_list {
        flex-wrap: wrap;

        &.color li {
            margin-bottom: 0.5em;
        }
    }
    .ask_block {
        margin-bottom: 3em;

        h2 {
            text-align: center;
        }
        .call_us a {
            display: block;
        }            
    }
    .product_faq .faq_item {
        padding: 22px 0;
    }
    .reviews_top {
        flex-direction: column;
        align-items: start;
    }
    .product_reviews .all_reviews {
        margin: 1em 0;
    }
    /* auction start */
    .auction_top {
        height: auto;
        padding: 0.5em;

        .auction_inner {
            h1 {
                font-size: 1.5em;
            }
            .auction_prices .row {
                flex-wrap: wrap;
                margin-bottom: 1em;
            }
            .auction_prices .new_price {
                font-size: 1em;
            }
            .auction_prices .old_price {
                font-size: 1em;
            }
            .note {
                padding: 0.5em;
                font-size: 16px;
            }
        }
    }
    /* brands start */
    .brands_list {
        grid-template-columns: repeat(2, 1fr);
    }
    /* wishlist start */
    .cart_inner .cart_item {
        .price_block {
            .price {
                font-size: 24px;
            }
            .btn {
                width: 140px;
            }
        }
    }
    /* cart start */
    .cart_inner .cart_footer .note {
        padding: 18px 20px 18px 69px;
        background-position: 10px center;
    }
    .cart_inner .cart_footer .right {
        flex-wrap: wrap;
        justify-content: center;

        .btn {
            margin-top: 1em;
        }
    }
    /* colors start */
    .colors_page .search_colors {
        padding-left: 1.5em;
        padding-right: 1.5em;

        input {
            width: 100%;
        }
        .results {
            flex-direction: column;

            button {
                margin-bottom: 1em;
            }
        }
    }
    .colors_page .colors_list .color_item {
        width: 100%;
    }
    /* order start */
    .order_inner form .line {
        flex-wrap: wrap;
    }
    .order_inner form .line:first-child {
        margin-bottom: 0;
    }
    .order_inner form .line:first-child input {
        width: 100%;
        margin-bottom: 12px;
    }
    .order_side {
        padding-left: 1em;
        padding-right: 1em;
    }
    .order_side .coupon form input {
        font-size: 18px;
    }
}