@media (max-width: 799px) {
    /* header start */
    .header_top_left {
        max-width: 115px;
    }

    /* home start */
    .home_auctions {
        .cont {
            padding: 0;
        }
        .splide__arrow--next {
            right: 20px;
        }
        .splide__arrow--prev {
            left: 20px;
        }
    }

    .product_slider {
        .splide {
            max-width: 397px;
        }
        .splide__arrow {
            right: -31px;
        }
    }

    .tabs_wrapper .tabs_button_wrapper {
        flex-wrap: wrap;

        .tab_button {
            margin-bottom: 2em;
        }
    }
    .tab_content .blog_list {
        flex-direction: column;

        .blog_item {
            width: 100%;
            margin-bottom: 2em;
        }
    }

    /* footer start */
    footer {
        .cont {
            flex-direction: column-reverse;
        }
        .footer_left {
            max-width: none;
            margin-right: 0;
            margin-top: 4em;
            text-align: center;

            .pay_systems, .copyright {
                margin-bottom: 2em;
                justify-content: center;
            }
            .ya_reviews {
                justify-content: center;
            }
        }
        .footer_right {
            max-width: none;
        }

        .subscribe_block .line input {
            width: 100%;
        }
    }

    /* section start */
    .catalog_top_line {
        .catalog_sort {
            width: 240px;
        }
        .selectbox_list_item {
            padding-left: 0.5em;
        }
        .found {
            margin-right: 1em;
        }
    }
    .catalog_inner .products_list .product_card {
        max-width: 48%;
    }

    /* product start */
    .product_menu ul {
        flex-wrap: wrap;

        li {
            margin-bottom: 0.5em;
        }
    }
    .product_info {
        flex-direction: column-reverse;

        .product_pic {
            margin-top: 3em;
        }
    }
    .product_descr {
        margin-top: 0;
    }
    .product_descr {
        .usage_block {
            flex-direction: column-reverse;
            margin-bottom: 2em;
    
            .pic {
                margin-bottom: 2em;
            }   
        }
        .advants {
            flex-direction: column;

            .pic {
                margin-bottom: 2em;
            }
        }
    }
    .product_specs {
        max-width: 100%;
    }

    /* about start */
    .about_page .numbers_block .left .num_item {
        flex-direction: column;
        align-items: start;

        span, p {
            width: 100%;
        }
    }
    .about_descr {
        margin-bottom: 0;
    }
    .about_page .numbers_block {
        height: 100%;

        .right {
            height: auto;
        }
    }
    /* auction start */
    .auction_top {
        display: flex;
        align-items: center;
        padding: 0 1em;

        .auction_inner {
            width: 100%;
        }
    }
    .other_auctions .auctions_list {
        height: auto;
        margin-bottom: 0;
        flex-direction: column;

        .auction_item {
            width: 100%;
            margin-bottom: 2em;
            padding: 1em 0.5em;
        }
    }
}